.resize {
  width: 4px;
  background-color: $selected-color;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity .2s;
  z-index: 1000;
  &:hover{
    opacity: 1!important;
    cursor: col-resize;
  }
}

.table{
  position: absolute;
  top: $header-height + $toolbar-height + $formula-height;
  left: 0;
  right: 0;
  overflow-x: auto;
  .row{
    display: flex;
    min-height: 20px;
    height: $row-height;
    &__info{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: $info-cell-width;
      height: 100%;
      border: 1px solid $border-color;
      background-color: #f8f9fa;
      border-top: none;
      .row-resize{
        @extend .resize;
        top: auto;
        width: auto;
        height: 4px;
        left: 0;
        &:hover{
          cursor: row-resize;
        }
      }
    }
    &__data{
      display: flex;
      .column{
        position: relative;
        text-transform: uppercase;
        @extend .row__info;
        width: $cell-width;
        border-left: none;
        .col-resize{
          @extend .resize
        }
      }
      .cell{
        min-width: 40px;
        min-height: 20px;
        padding: 5px;
        width: $cell-width;
        height: 100%;
        border: 1px solid #e2e2e3;
        border-top: none;
        border-left: none;
        white-space: nowrap;
        color: $text-color;
        outline: none;
        &.selected{
          border: none;
          outline: 2px solid $selected-color;
          z-index: 2;
        }
      }
    }
  }
}